
.a1 {
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20;
}
.a2 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topnav {
    background-color: black;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  
  .topnav a:hover {
    background-color: whitesmoke;
    color: black;
  }
  
 
  .topnav a.active {
    background-color: pink;
    color: white;
  }

  .topnav a.split {
    float: right;
    background-color: black;
    color: white;
  }

  .topnav a.split.active {
    background-color: pink;
    color: white;
  }

  .topnav a.split:hover {
    background-color: whitesmoke;
    color: black;
  }

  
  video {
    position:sticky;
    height:10cm;
    width:100%;
    align-items: center;

  }

  h2.b {
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
   
    float: left;
    width: 33.33%;
    padding: 5px;
    
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .button {
    border-color:aqua;
    border: 5;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1 {
    border-radius: 100%;
  }
  