img{
    display:block;
    margin-left:auto;
    margin-right:auto;

}
h1{
    text-align: center;
}
.glass{
    width:30%;
    float:left;
    padding: 30px;
    text-align: center;
}
.text{
    text-align: start;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img1{
    width:30%;
    float:left;
    padding: 30px;
    text-align: center;
}
.img1txt{
    text-align: start;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img2{
    width:30%;
    float:left;
    padding: 30px;
    text-align: center;
}
.img2txt{
    text-align: start;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img3{
    width:30%;
    float:left;
    padding: 30px;
    text-align: center;
}
.img3txt{
    text-align: start;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img4{
    width:30%;
    float:left;
    padding: 30px;
    text-align: center;
}
.img4txt{
    text-align: start;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
